<div class="al-digital-object">
  <iframe src='<%= @object.href.sub(/^http:\/\//i, 'https://') %>?embed=true' height='<%= iframe_height %>' width='100%' frameborder='0' marginwidth='0' marginheight='0' scrolling='no' allowfullscreen class='ddr-embed-iframe ddr-<%= @object.role %>' loading='lazy' title='<%= iframe_title %>'></iframe>

  <div>
    <%= link_to @object.href, { class: 'ddr-item-link', target: '_blank'} do %>
      <span class='fas fa-external-link-alt'></span>
      <%= t('dul_arclight.digital_objects.ddr_embed_link') %>
    <% end %>
  </div>
</div>
