<header class="sticky-top">
  <nav id="header-navbar" class="navbar navbar-expand-md pt-3" aria-label="Masthead">
    <div class="<%= container_classes %> position-relative">
      <div class="row flex-grow-1">
        <div class="col-12 col-md-5 col-lg-6 col-xl-5 col-xxl-4 pl-2 pr-0" id="logo-col">
          <a href="https://library.duke.edu" class="navbar-dul">
            <div class="navbar-logo">
              <span class="sr-only">Duke University Libraries</span>
            </div>
          </a>
          <a href="/" class="navbar-product-name text-decoration-none">
            <span class="product-name-primary">
              <%= t('blacklight.branding.primary') %>
            </span>
            <span class="product-name-secondary">
              <%= t('blacklight.branding.secondary_html') %>
            </span>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5 flex-column my-2 my-md-0" id="search-col">
          <%= search_bar unless helpers.homepage? %>
          <%= render 'shared/search_extra_controls' unless helpers.homepage? %>
        </div>

        <div class="col-12 col-md-2 col-lg-1 col-xl-2 col-xxl-3 pl-0 pr-0 d-none d-xl-block" id="primary-menu">
          <div class="collapse navbar-collapse justify-content-md-end" id="user-utilities">
            <%= render 'shared/user_util_links' %>
          </div>
        </div>

        <%# Mobile menu button %>
        <button id="mobile-menu-button" class="btn btn-primary position-absolute d-xl-none mr-2" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-only-menu" aria-controls="mobile-only-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa-solid fa-bars"></span>
          <span class="sr-only visually-hidden">Menu</span>
        </button>

      </div>
    </div>
  </nav>
  <%= render 'shared/mobile_menu' %>
</header>
