<%# TODO: Refactor this feature into components. %>

<% if collection_count.positive? %>
  <div class="record-group mb-5" id="<%= key %>">
    <h2>
      <span class="fw-bold"><%= key %>. </span>
      <%= link_to search_action_path(f: { ua_record_group_ssim: [group] }).to_s, { class: 'record-group-link' } do %>
       <%= info.dig('title') -%>
      <% end %>
      <span class="collection-count-badge">
        <%= number_with_delimiter(collection_count) %>
        <%= "collection".pluralize(collection_count) %>
      </span>
    </h2>
    <p><%= info.dig('description')&.html_safe %></p>

    <ul class="subgroup-list list-unstyled">
      <% info.dig('subgroups')&.each do |key, value| %>
        <% subgroup_name = [key, value.dig('title')].join(' -- ') %>
        <% subgroup_full_value = [group, subgroup_name].join(' > ') %>
        <%= render partial: 'subgroup',
              locals: {
                key: key,
                group: group,
                subgroup: subgroup_name,
                subgroup_full_value: subgroup_full_value,
                info: value,
                collection_count: @record_group_counts.dig(subgroup_full_value) || 0 } %>
      <% end %>
    </ul>
  </div>
<% end %>