<%# A reusable Using These Materials header; it renders as the heading for a few -%>
<%# different sections (collection-level snippet, collection- & component-level terms) -%>
<h2 class='al-show-sub-heading'>
  <%= t("arclight.views.show.sections.using_field") %>
</h2>
<p>
  <ul class="list-unstyled using-resources">
    <li>
      <%= link_to t("dul_arclight.views.show.access.help_links.visitors"),
            "https://library.duke.edu/rubenstein/about/visit", target: "_blank" %>
    </li>
    <li>
      <%= link_to t("dul_arclight.views.show.access.help_links.requesting"),
            "https://library.duke.edu/rubenstein/research/requesting-material", target: "_blank" %>
    </li>
    <li>
      <%= link_to t("dul_arclight.views.show.access.help_links.reproductions"),
            "https://library.duke.edu/rubenstein/research/reproductions", target: "_blank" %>
    </li>
    <li>
      <%= link_to t("dul_arclight.views.show.access.help_links.citations"),
            "https://library.duke.edu/rubenstein/research/citations-and-permissions", target: "_blank" %>
    </li>
  </ul>
</p>

<hr/>
